<footer class="footer">   
    <p id="done">
        Cozy Jubilant Deer Enterprises, Ltd
        <br>
        123 Oaktown Rd 28076
        <br>
        Cornelius, NC
        <br>
        <br>
        Designed by Cozy Jubilant Deer Enterprises, Ltd 2021
        <br>
        Disclaimer: This is a made-up company with made-up information for a school assignment.
    </p>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px;"
            src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
            alt="Valid CSS!" />
    </a>
    <a href="https://validator.w3.org/check?uri=referer">
        <img style ="border:0;width:88px;height:31px;"
        src="https://webpages.uncc.edu/cdukes5/itis3135/images/button-valid-html5.gif"
        alt="Valid html5">
    </a>
</footer>