<footer class="footer">   
    <p id="done">
        Cozy Jubilant Deer Enterprises, Ltd
        <br>
        123 Oaktown Rd 28076
        <br>
        Cornelius, NC
        <br>
        <br>
        Designed by Cozy Jubilant Deer Enterprises, Ltd 2021
        <br>
        Disclaimer: This is a made-up company with made-up information for a school assignment.
    </p>
    <nav>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" class="brandFooterNav">CSS Validation</a>
    <a href="https://validator.w3.org/check?uri=referer" class="brandFooterNav">HTML Validation</a>
    </nav>
</footer>