header
{
    text-align: center;
    font-size:150%;
    font-weight: bolder;
}

header > h1
{
    position:relative;
    bottom:40px;
    right:240px;
}

#logo
{
    position:relative;
    right:120px;
    top:30px;
}

nav
{
    border-top-style:solid;
    border-bottom-style:solid;
    border-width: thin;
    margin-left:8%;
    margin-right:8%;
}

nav > a 
{
    padding-right:100px;
    font-weight: bold;
    color:black;
    text-decoration:none;
}


#homeLink
{
    display:inline;
    border-top-style:solid;
    border-width:medium;
    border-color:green;
    padding-top:16px;
}

#homeLink:hover
{
    border-color:lawngreen;
}

nav > a > div
{
    display:inline;
}

nav > a > div:hover
{
    border-top-style:solid;
    border-width:medium;
    border-color:burlywood;
    padding-top: 16px;
}

.dropbtn
{
    padding-right:100px;
}

.dropbtn:hover
{
    cursor:pointer;
}

.dropdown
{
    display:inline-block;
    padding-right:0;
}

.dropContent
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:285px;
}

.dropContent > a
{
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropContent 
{
    display: block;
    cursor:pointer;
}


.dropContent a:hover 
{
    background-color: #ddd;
}

main
{
    margin-left:8%;
    margin-right:8%;
}

main > div > h2
{
    font-size: xx-large;
}

.slideshowWrapper
{
    display:block;
    margin:0 auto;
    text-align:center;
    width:1200px;
    padding-top: 1%;
}

.slideImage
{
    width:100%;
    height:700px;
}

#firstImage
{
    float:left;
}

#homeHeading
{
    padding-left:60px;
    padding-top: 100px;
    height:450px;
    box-shadow: 0px 5px 10px rgb(153, 190, 161);
}


#headingOne
{
    font-size:x-large;
    margin-right:50%;
    text-align: justify;
    line-height:50px;
}

#homeImage
{
    float:right;
    width: 40%;
    height:auto;
    position:relative;
    bottom:150px;
    right:50px;
}

h3
{
    max-height:5%;
    font-size:32px;
    font-weight:normal;
    text-align:center;
}

footer
{
    margin-top:auto;
    padding-top:2%;
}

footer > nav
{
    text-align:center;
}

body
{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    width:1920px;
}

input[type=text], select 
{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] 
{
    background-color: #5da271;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    font-size:x-large;
  }

input[type=submit]:hover 
{
    background-color: #45a049;
}

.form
{
    width:50%;
    border-radius: 5px;
    padding: 20px;
    margin:0 auto;
}

.form input
{
    width:100%;
    clear:both;
}

input[type=email]
{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=tel]
{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label
{
    font-size:25px;
}

#textBox
{
    resize:none;
    border: 1px solid #ccc;
    font-size:16px;
}

.centeredHeading
{
    text-align:center;
    font-size:32px;
    font-weight:bolder;
}

.hoursCell
{
    border-bottom:1px solid #ddd;
    font-size:x-large;
    height:75px;
    text-align:center;
}

.daysCell
{
    border-bottom:1px solid #ddd;
    font-size:x-large;
    height:75px;
}

.storeTable tr:nth-child(even) 
{
    background-color: #f2f2f2;
}

.storeTable
{
    width:30%;
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
}

.topCell
{
    border-top:1px solid #ddd;
}

#centeredCell
{
    text-align:center;
    border-bottom:1px solid #ddd;
    font-size:x-large;
    height:75px;
}

#topFirstCell
{
    border-bottom:1px solid #ddd;
    font-size:x-large;
    height:75px;
}

.galleryTable
{
    padding-top:1%;
    padding-bottom:1%;
    width:63.5%;
    margin-left:auto;
    margin-right:auto;
}

.galleryTable > a
{
    display:inline-flex;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
}

.galleryTable > a > img
{
    margin-left:auto;
    margin-right:auto;
    display:inline-flex;
    justify-content: center;
}

.galleryImage
{
    width:500px;
    height:300px;
}

#airHeading
{
    font-size:30px;
    font-weight: bolder;
}

#airHeadingTwo
{
    font-size:xx-large;
    font-weight:bold;
    text-align:center;
    box-shadow: 0px 5px 10px rgb(153, 190, 161);
    width:60%;
    padding-top:2%;
    padding-bottom:2%;
    margin:0 auto;
}


#aeratePara
{
    font-size:24px;
    line-height:49px;
    padding-top:2%;
    text-align: justify;
}

#aerateImg
{
    float:right;
    width:700px;
    height:400px;
    position:relative;
    top:-75px;
    padding-left:6%;
}

#quote
{
    padding-bottom:1%;
    text-align:center;
    width:98%;
}

#pestIntroWrapper
{
    font-size: 24px;
    width:100%;
    display:inline-block;
    padding-bottom:2%;
}

#pestIntro
{
    line-height:60px;
    text-align: justify;
}

#pestIntroPic
{
    float:right;
    padding-left:10%;
}

#accordion
{
    padding-bottom:4%;
    width:80%;
    margin:0 auto;
}

#quoteWrapper
{
    width:100%;
    margin:0 auto;
    text-align: center;
}

.pest
{
    width:100%;
    display:inline-block;
    text-align:justify;
    line-height:26px;
    font-size:20px;
}

#grub
{
    float:right;
    padding-left:10%;
}

#chinch
{
    float:left;
    padding-right:6%;
}

#army
{
    float:right;
    padding-left:10%;
}