<header>
    <h1>
        <img alt="logo" src="images/logo.png" id="logo">
        C&D Lawn Care and Gardening
    </h1>
    
    <nav>
        <a href="index.html" id="homeL"><div>Home</div></a>
        <div class="dropdown"><p class="dropbtn">Services</p><div class="dropContent">
            <a href="aeration.html">Aeration</a>
            <a href="pestcontrol.html">Pest Control</a>
        </div></div>
        <a href="gallery.html"><div>Gallery</div></a>
        <a href="hours.html"><div>Hours</div></a>
        <a href="contact.html"><div>Contact Us</div></a>
    </nav>

</header>